@import "antd/dist/antd.css";

.loading-spinner {
  padding: 30px 50px;
  text-align: center;
  background: #1a1d1a;
  border-radius: 4px;
}

#not-found-message {
  padding: 10px;
  color: #f5f5f5;
  background-color: #1a1d1a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* ...; */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    display: flex;
  }

  #search-result-view {
    width: 45%;
  }

  #details-view {
    width: 55%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    display: flex;
  }

  #search-result-view {
    width: 45%;
  }

  #details-view {
    width: 55%;
  }
}

#search-section {
  display: flex;
}

#search-input-field {
  padding: 5px;
  font-size: 1.1rem;
  width: 75%;
}

#save-button {
  background-color: #720298;
  border-color: #720298;
  color: #f5f5f5;
  width: 25%;
}

#saved-search-options {
  width: 100%;
  padding: 5px;
  color: #f5f5f5;
  background-color: #1a1d1a;
}

#result-list {
  /* overflow-y: auto; */
  /* height: 100vh; */
}

#details {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

/* customize ANTD */
.site-form-item-icon {
  padding-right: 4px;
}

.ant-list-item {
  background-color: #1a1d1a;
  color: #f5f5f5;
}

.ant-list-item-meta-title {
  color: #f5f5f5;
  font-size: 0.94rem;
}

.ant-list-item-meta-description {
  color: #f5f5f5;
  font-size: 0.8rem;
}

.ant-spin-text {
  color: #f5f5f5;
}
